body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: auto;
}

@font-face {
  font-family: 'Alternates';
  src: url('./styles/Montserrat/Montserrat-VariableFont_wght.ttf');
}

* {
font-family: 'Alternates';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app_wrapper {
  align-content: center;
  text-align: center;
}

.city_select {
  align-items: center;
  width: 100%;
}
.select_city_div {
  align-content: center;
  width: 30%;
  display: inline-block;
}

.weather_info {
  display: inline-block;
  padding: 1.5em;
}

.weather_wrapper {
  display: inline-block;
}

.temperature_header {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

}
.coordinates {
  font-size: medium;
  font-weight: 400;
  padding: 1em;
}

.city_header {
  display: inline-block;
  font-weight: 400;
}
.location_info_div {
  padding-top: 2em;
}

.weather_description {
  margin: 0.7em;
}

.chooce-city-button {
  padding: 0.7em;
}

.slider-text {
  padding: 0.7em;
}